In [1]:
import pandas as pd

## Connecting PostgreSQL with notebook
postgresql://postgres:{password}@localhost:{port}/{database}

In [2]:
import psycopg2

In [3]:
from sqlalchemy import create_engine
from psycopg2 import sql
engine = create_engine('postgresql://postgres:root@localhost:5432/House_Data')

Connecting to table Ahmedabad

In [4]:
Ahmedabad = pd.read_sql_table("Ahmedabad", con=engine)
Ahmedabad

,possStatusD,price,priceD,powerStatusD,carpetArea,sqFtPrice,furnishedD,balconiesD,bathD,parkingD,facingD,ctName,bedroomD,floors,coveredArea,carpAreaUnit,areaPercent
0,Under Construction,12800000,1.28 Cr,No/Rare Powercut,1410.0,4990.0,Unfurnished,1.0,3.0,1 Covered,North - West,Ahmedabad,3.0,14.0,2565.0,Sq-ft,0.450292
1,Under Construction,13240000,1.32 Cr,No/Rare Powercut,1457.0,5000.0,Unfurnished,2.0,3.0,2 Covered,East,Ahmedabad,3.0,21.0,2648.0,Sq-ft,0.449773
2,Ready to Move,11199600,1.11 Cr,No/Rare Powercut,1017.0,6100.0,Unfurnished,1.0,3.0,"1 Covered, 1 Open",North - East,Ahmedabad,3.0,14.0,1836.0,Sq-ft,0.446078
3,Ready to Move,6500000,65 Lac,No/Rare Powercut,775.0,5078.0,Unfurnished,1.0,2.0,1 Covered,North - East,Ahmedabad,2.0,13.0,1280.0,Sq-ft,0.394531
4,Under Construction,9675000,96.8 Lac,No/Rare Powercut,1113.0,4778.0,Unfurnished,1.0,3.0,2 Covered,East,Ahmedabad,3.0,14.0,2025.0,Sq-ft,0.450370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15024,Under Construction,14290000,1.42 Cr,No/Rare Powercut,1507.0,5500.0,Unfurnished,1.0,3.0,2 Covered,East,Ahmedabad,3.0,21.0,2598.0,Sq-ft,0.419938
15025,Under Construction,15590000,1.55 Cr,No/Rare Powercut,2078.4,6001.0,Unfurnished,1.0,4.0,2 Covered,East,Ahmedabad,3.0,22.0,2598.0,Sq-ft,0.000000
15026,Under Construction,12800000,1.28 Cr,No/Rare Powercut,1410.0,4990.0,Unfurnished,1.0,3.0,1 Covered,North - West,Ahmedabad,3.0,14.0,2565.0,Sq-ft,0.450292
15027,Under Construction,11250000,1.12 Cr,No/Rare Powercut,143.0,5000.0,Unfurnished,1.0,3.0,1 Covered,East,Ahmedabad,3.0,14.0,250.0,Sq-yrd,0.428000
15028,Apr '24,9740000,97.4 Lac,No/Rare Powercut,1558.4,5000.0,Unfurnished,NaN,3.0,1 Covered,None,Ahmedabad,3.0,0.0,1948.0,Sq-ft,0.000000

Connecting to table Ghaziabad

In [5]:
Ghaziabad = pd.read_sql_table('Ghaziabd', con=engine)
Ghaziabad

,possStatusD,price,priceD,powerStatusD,carpetArea,sqFtPrice,furnishedD,balconiesD,bathD,parkingD,facingD,ctName,bedroomD,floors,coveredArea,carpAreaUnit,areaPercent
0,Under Construction,11500000,1.15 Cr,No/Rare Powercut,1162.0,5489.0,Furnished,5.0,3.0,2 Covered,North - East,Ghaziabad,3.0,17.0,2095.0,Sq-ft,0.445346
1,Under Construction,11050000,1.10 Cr,No/Rare Powercut,1365.0,5200.0,Semi-Furnished,3.0,2.0,1 Covered,North - East,Ghaziabad,3.0,4.0,2125.0,Sq-ft,0.357647
2,Under Construction,13860000,1.38 Cr,No/Rare Powercut,1026.0,7000.0,Semi-Furnished,3.0,3.0,1 Covered,South - East,Ghaziabad,3.0,23.0,1980.0,Sq-ft,0.481818
3,Ready to Move,7450000,74.5 Lac,No/Rare Powercut,1425.0,4599.0,Semi-Furnished,3.0,2.0,1 Covered,East,Ghaziabad,3.0,0.0,1620.0,Sq-ft,0.120370
4,Ready to Move,5000000,50 Lac,Less Than 2 Hour Powercut,1200.0,3774.0,Semi-Furnished,2.0,2.0,1 Covered,East,Ghaziabad,3.0,3.0,1325.0,Sq-ft,0.094340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8199,Ready to Move,4500000,45 Lac,No/Rare Powercut,1050.0,4286.0,Unfurnished,2.0,2.0,0,North - East,Ghaziabad,2.0,3.0,1050.0,Sq-ft,0.000000
8200,Ready to Move,11500000,1.15 Cr,Less Than 2 Hour Powercut,1450.0,7419.0,Semi-Furnished,2.0,3.0,"1 Covered, 1 Open",East,Ghaziabad,3.0,3.0,1550.0,Sq-ft,0.064516
8201,Under Construction,11007000,1.10 Cr,No/Rare Powercut,1240.0,6815.0,Unfurnished,4.0,3.0,"1 Covered, 1 Open",North - East,Ghaziabad,3.0,19.0,1615.0,Sq-ft,0.232198
8202,Ready to Move,4600000,46 Lac,Less Than 2 Hour Powercut,840.0,4742.0,Semi-Furnished,1.0,2.0,"1 Covered, 1 Open",North - East,Ghaziabad,2.0,4.0,970.0,Sq-ft,0.134021
8203,Under Construction,4000000,40 Lac,No/Rare Powercut,900.0,4301.0,Furnished,3.0,2.0,1 Covered,North - East,Ghaziabad,2.0,16.0,930.0,Sq-ft,0.032258

Connecting to table Noida

In [6]:
Noida = pd.read_sql_table('Noida', con=engine)
Noida

,possStatusD,price,priceD,powerStatusD,sqFtPrice,furnishedD,balconiesD,bathD,parkingD,facingD,ctName,bedroomD,floors,coveredArea,carpetArea,carpAreaUnit,areaPercent
0,Under Construction,59000000,5.90 Cr,No/Rare Powercut,18043.0,Semi-Furnished,4,4.0,2 Covered,North - East,Noida,3.0,35.0,3270.0,2616.0,Sq-ft,0.000000
1,Under Construction,32256000,3.22 Cr,No/Rare Powercut,14000.0,Semi-Furnished,4,3.0,"1 Covered, 1 Open",North - East,Noida,3.0,28.0,2304.0,1950.0,Sq-ft,0.153646
2,Under Construction,12000000,1.20 Cr,No/Rare Powercut,8547.0,Unfurnished,3,2.0,1 Covered,North - East,Noida,3.0,22.0,1404.0,827.0,Sq-ft,0.410969
3,Under Construction,30000000,3 Cr,No/Rare Powercut,11742.0,Semi-Furnished,3,4.0,2 Covered,North - East,Noida,3.0,28.0,2555.0,1618.0,Sq-ft,0.366732
4,Ready to Move,14000000,1.40 Cr,No/Rare Powercut,10108.0,Semi-Furnished,4,3.0,1 Covered,South - East,Noida,3.0,27.0,1385.0,1108.0,Sq-ft,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9071,Ready to Move,11550000,1.15 Cr,No/Rare Powercut,11000.0,Unfurnished,None,2.0,0,None,Noida,2.0,0.0,1050.0,840.0,Sq-ft,0.000000
9072,Apr '28,13989600,1.39 Cr,No/Rare Powercut,8700.0,Unfurnished,None,3.0,1 Covered,None,Noida,3.0,0.0,1608.0,1286.4,Sq-ft,0.000000
9073,Under Construction,12750000,1.27 Cr,No/Rare Powercut,11591.0,Unfurnished,3,2.0,0,East,Noida,2.0,28.0,1100.0,880.0,Sq-ft,0.000000
9074,Under Construction,25000000,2.50 Cr,No/Rare Powercut,13889.0,Semi-Furnished,4,3.0,1 Covered,East,Noida,3.0,30.0,1800.0,1275.0,Sq-ft,0.291667
9075,Under Construction,28476000,2.84 Cr,No/Rare Powercut,14000.0,Semi-Furnished,4,3.0,"1 Covered, 1 Open",North - East,Noida,3.0,28.0,2034.0,1710.0,Sq-ft,0.159292

Connecting to table Gurugram

In [7]:
Gurugram = pd.read_sql_table("Gurugram", con=engine)
Gurugram

,possStatusD,price,priceD,carpetArea,sqFtPrice,furnishedD,balconiesD,bathD,facingD,ctName,bedroomD,floors,coveredArea,carpAreaUnit,powerStatusD,parkingD,areaPercent
0,Under Construction,33500000,3.35 Cr,1769.0,17031.0,Unfurnished,3.0,3.0,East,Gurgaon,3.0,18.0,1967.0,Sq-ft,No/Rare Powercut,0,0.100661
1,Under Construction,31450000,3.14 Cr,1458.0,17000.0,Semi-Furnished,3.0,3.0,North - East,Gurgaon,3.0,34.0,1850.0,Sq-ft,No/Rare Powercut,2 Covered,0.211892
2,Ready to Move,23000000,2.30 Cr,160.0,8434.0,Unfurnished,3.0,3.0,North - East,Gurgaon,3.0,2.0,303.0,Sq-yrd,No/Rare Powercut,1 Open,0.471947
3,Ready to Move,23000000,2.30 Cr,1099.0,16655.0,Semi-Furnished,4.0,2.0,North - East,Gurgaon,2.0,18.0,1381.0,Sq-ft,No/Rare Powercut,1 Covered,0.204200
4,Ready to Move,18000000,1.80 Cr,1320.0,10909.0,Semi-Furnished,2.0,3.0,East,Gurgaon,3.0,14.0,1650.0,Sq-ft,No/Rare Powercut,1 Covered,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16524,Ready to Move,26300000,2.63 Cr,1719.2,12238.0,Semi-Furnished,4.0,4.0,North - East,Gurgaon,3.0,25.0,2149.0,Sq-ft,No/Rare Powercut,"1 Covered, 1 Open",0.000000
16525,Dec '26,9424800,94.2 Lac,952.0,7920.0,Semi-Furnished,NaN,3.0,None,Gurgaon,3.0,0.0,1190.0,Sq-ft,No/Rare Powercut,1 Covered,0.000000
16526,Feb '31,56200000,5.62 Cr,2428.0,18517.0,Semi-Furnished,NaN,3.0,None,Gurgaon,3.0,0.0,3035.0,Sq-ft,No/Rare Powercut,1 Covered,0.000000
16527,Aug '29,13900000,1.39 Cr,1160.0,9586.0,Semi-Furnished,NaN,3.0,None,Gurgaon,3.0,0.0,1450.0,Sq-ft,No/Rare Powercut,1 Covered,0.000000
16528,Ready to Move,51420000,5.14 Cr,2500.0,18490.0,Semi-Furnished,2.0,3.0,North,Gurgaon,3.0,20.0,2781.0,Sq-ft,No/Rare Powercut,2 Covered,0.101043

Connecting to table Faridabad

In [16]:
Faridabad = pd.read_sql_table("Faridabad", con=engine)
Faridabad

,possStatusD,price,priceD,powerStatusD,carpetArea,sqFtPrice,furnishedD,balconiesD,bathD,facingD,ctName,bedroomD,floors,coveredArea,carpAreaUnit,parkingD,areaPercent
0,Ready to Move,4000000,40 Lac,No/Rare Powercut,625.0,5479.0,Unfurnished,2.0,2,North - East,Faridabad,3.0,15.0,730.0,Sq-ft,0,0.143836
1,Ready to Move,10700000,1.07 Cr,No/Rare Powercut,1660.0,5799.0,Unfurnished,2.0,3,North,Faridabad,3.0,4.0,1845.0,Sq-ft,0,0.100271
2,Ready to Move,10500000,1.05 Cr,No/Rare Powercut,1160.0,7241.0,Semi-Furnished,2.0,2,East,Faridabad,3.0,8.0,1450.0,Sq-ft,0,0.000000
3,Ready to Move,16000000,1.60 Cr,No/Rare Powercut,1750.0,8000.0,Semi-Furnished,3.0,3,South -West,Faridabad,3.0,4.0,2000.0,Sq-ft,0,0.125000
4,Ready to Move,2700000,27 Lac,No/Rare Powercut,675.0,36000.0,Semi-Furnished,1.0,2,North,Faridabad,2.0,1.0,75.0,Sq-ft,0,-8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2958,Ready to Move,19500000,1.95 Cr,No/Rare Powercut,1050.0,13542.0,Semi-Furnished,2.0,2,East,Faridabad,2.0,1.0,1440.0,Sq-ft,0,0.270833
2959,Ready to Move,10700000,1.07 Cr,No/Rare Powercut,225.0,4756.0,Semi-Furnished,2.0,3,East,Faridabad,3.0,4.0,250.0,Sq-yrd,1 Open,0.100000
2960,Ready to Move,7800000,78 Lac,No/Rare Powercut,882.4,7072.0,Unfurnished,2.0,2,North,Faridabad,3.0,2.0,1103.0,Sq-ft,0,0.000000
2961,Ready to Move,9000000,90 Lac,No/Rare Powercut,1500.0,5844.0,Unfurnished,2.0,3,North,Faridabad,3.0,3.0,1540.0,Sq-ft,1 Open,0.025974
2962,Ready to Move,10800000,1.08 Cr,No/Rare Powercut,1700.0,6000.0,Unfurnished,2.0,3,South,Faridabad,3.0,4.0,1800.0,Sq-ft,0,0.055556

Connecting to table New Delhi

In [9]:
New_Delhi = pd.read_sql_table("New Delhi", con=engine)
New_Delhi

,possStatusD,price,priceD,powerStatusD,sqFtPrice,furnishedD,balconiesD,bathD,parkingD,facingD,ctName,bedroomD,floors,coveredArea,carpetArea,carpAreaUnit,areaPercent
0,Ready to Move,35000000,3.50 Cr,No/Rare Powercut,19444.0,Semi-Furnished,3.0,3.0,"2 Covered, 2 Open",North - East,New Delhi,3.0,4.0,1800.0,1440.0,Sq-ft,0.000000
1,Ready to Move,42500000,4.25 Cr,No/Rare Powercut,22703.0,Semi-Furnished,2.0,3.0,"2 Covered, 1 Open",South,New Delhi,3.0,4.0,208.0,208.0,Sq-yrd,0.000000
2,Ready to Move,62500000,6.25 Cr,No/Rare Powercut,31250.0,Semi-Furnished,3.0,3.0,"2 Covered, 1 Open",North - East,New Delhi,3.0,4.0,2000.0,1600.0,Sq-ft,0.000000
3,Ready to Move,18000000,1.80 Cr,No/Rare Powercut,13846.0,Unfurnished,2.0,2.0,1 Open,North - East,New Delhi,2.0,2.0,1300.0,1100.0,Sq-ft,0.153846
4,Ready to Move,4500000,45 Lac,No/Rare Powercut,5556.0,Semi-Furnished,1.0,2.0,0,South - East,New Delhi,3.0,4.0,90.0,90.0,Sq-yrd,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19072,Ready to Move,22200000,2.22 Cr,No/Rare Powercut,11684.0,Unfurnished,3.0,3.0,0,North - East,New Delhi,3.0,8.0,1900.0,1750.0,Sq-ft,0.078947
19073,May '25,220000000,22 Cr,No/Rare Powercut,91173.0,Furnished,NaN,3.0,1 Covered,None,New Delhi,3.0,0.0,2413.0,1930.4,Sq-ft,0.000000
19074,Ready to Move,50000000,5 Cr,No/Rare Powercut,29412.0,Semi-Furnished,4.0,3.0,0,East,New Delhi,3.0,4.0,1700.0,1800.0,Sq-ft,-0.058824
19075,Ready to Move,13200000,1.32 Cr,No/Rare Powercut,13895.0,Semi-Furnished,1.0,2.0,"1 Covered, 1 Open",North - West,New Delhi,2.0,4.0,950.0,760.0,Sq-ft,0.000000
19076,Ready to Move,55000000,5.50 Cr,No/Rare Powercut,25463.0,Semi-Furnished,3.0,3.0,"2 Covered, 2 Open",North - East,New Delhi,3.0,4.0,240.0,192.0,Sq-ft,0.000000

Connecting to table Mumbai

In [10]:
Mumbai = pd.read_sql_table("Mumbai", con=engine)
Mumbai

,possStatusD,price,priceD,powerStatusD,carpetArea,sqFtPrice,furnishedD,bathD,parkingD,ctName,bedroomD,coveredArea,carpAreaUnit,floors,facingD,balconiesD,areaPercent
0,Dec '28,54500000,5.45 Cr,No/Rare Powercut,1340.0,34062.0,Unfurnished,3.0,1 Covered,Mumbai,3.0,1600.0,Sq-ft,0.0,None,None,0.162500
1,Nov '28,23380000,2.33 Cr,No/Rare Powercut,835.0,19322.0,Semi-Furnished,2.0,0,Mumbai,2.0,1210.0,Sq-ft,0.0,None,None,0.309917
2,Dec '26,18400000,1.84 Cr,No/Rare Powercut,763.0,20109.0,Unfurnished,2.0,1 Covered,Mumbai,2.0,915.0,Sq-ft,0.0,None,None,0.166120
3,Under Construction,30000000,3 Cr,No/Rare Powercut,772.0,33822.0,Semi-Furnished,2.0,1 Covered,Mumbai,2.0,887.0,Sq-ft,0.0,None,None,0.129651
4,Jun '26,14300000,1.43 Cr,No/Rare Powercut,623.0,19972.0,Unfurnished,2.0,1 Covered,Mumbai,2.0,716.0,Sq-ft,0.0,None,None,0.129888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14890,Jun '29,53400000,5.34 Cr,No/Rare Powercut,866.0,53668.0,Semi-Furnished,2.0,1 Covered,Mumbai,2.0,995.0,Sq-ft,0.0,None,None,0.129648
14891,Ready to Move,30900000,3.09 Cr,No/Rare Powercut,1037.0,24720.0,Unfurnished,3.0,1 Covered,Mumbai,3.0,1250.0,Sq-ft,43.0,None,None,0.170400
14892,Dec '26,15200000,1.52 Cr,No/Rare Powercut,605.0,21408.0,Unfurnished,2.0,0,Mumbai,2.0,710.0,Sq-ft,0.0,None,None,0.147887
14893,Ready to Move,29000000,2.90 Cr,No/Rare Powercut,850.0,23200.0,Semi-Furnished,2.0,1 Covered,Mumbai,2.0,1250.0,Sq-ft,38.0,East,3,0.320000
14894,Dec '28,47500000,4.75 Cr,No/Rare Powercut,1100.0,35185.0,Unfurnished,3.0,1 Covered,Mumbai,3.0,1350.0,Sq-ft,0.0,None,None,0.185185

Connecting to table Bangalore

In [11]:
Bangalore = pd.read_sql_table("Bangalore", con=engine)
Bangalore

,possStatusD,price,priceD,powerStatusD,sqFtPrice,furnishedD,bathD,ctName,bedroomD,coveredArea,parkingD,floors,carpetArea,balconiesD,facingD,carpAreaUnit,areaPercent
0,Mar '27,10900000,1.09 Cr,No/Rare Powercut,8456.0,Unfurnished,2,Bangalore,2,1289.0,0,0,1031.2,NaN,None,Sq-ft,0.0
1,Under Construction,8664229,86.6 Lac,No/Rare Powercut,7399.0,Unfurnished,2,Bangalore,2,1171.0,0,0,936.8,NaN,None,Sq-ft,0.0
2,Ready to Move,18436223,1.84 Cr,No/Rare Powercut,9891.0,Unfurnished,3,Bangalore,3,1864.0,0,0,1491.2,NaN,None,Sq-ft,0.0
3,Dec '28,7000000,70 Lac,No/Rare Powercut,6567.0,Unfurnished,2,Bangalore,2,1066.0,1 Covered,0,852.8,NaN,None,Sq-ft,0.0
4,Sep '25,17289000,1.72 Cr,No/Rare Powercut,8500.0,Unfurnished,3,Bangalore,3,2034.0,0,0,1627.2,NaN,None,Sq-ft,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28912,Dec '25,39900000,3.99 Cr,No/Rare Powercut,12871.0,Unfurnished,4,Bangalore,3,3100.0,1 Covered,0,2480.0,NaN,None,Sq-ft,0.0
28913,Ready to Move,12808571,1.28 Cr,No/Rare Powercut,7196.0,Unfurnished,3,Bangalore,3,1780.0,0,0,1424.0,NaN,None,Sq-ft,0.0
28914,Jan '29,11238554,1.12 Cr,No/Rare Powercut,9858.0,Unfurnished,2,Bangalore,2,1140.0,1 Covered,17,912.0,NaN,None,Sq-ft,0.0
28915,Jun '26,13218724,1.32 Cr,No/Rare Powercut,7767.0,Unfurnished,3,Bangalore,3,1702.0,1 Covered,0,1361.6,NaN,None,Sq-ft,0.0
28916,Aug '28,21055454,2.10 Cr,No/Rare Powercut,12045.0,Unfurnished,3,Bangalore,3,1748.0,1 Covered,0,1398.4,NaN,None,Sq-ft,0.0

Connecting to table Kolkata

In [12]:
Kolkata = pd.read_sql_table("Kolkata", con=engine)
Kolkata

,possStatusD,price,priceD,powerStatusD,sqFtPrice,furnishedD,bathD,bedroomD,coveredArea,parkingD,balconiesD,facingD,floors,carpetArea,carpAreaUnit,areaPercent
0,Dec '24,4170000,41.7 Lac,No/Rare Powercut,4317.0,Unfurnished,2,2.0,966.0,0,NaN,None,0.0,772.8,Sq-ft,0.000000
1,Dec '27,8720103,87.2 Lac,No/Rare Powercut,6527.0,Unfurnished,2,3.0,1336.0,1 Covered,NaN,None,0.0,1068.8,Sq-ft,0.000000
2,Dec '27,5300000,53 Lac,No/Rare Powercut,5146.0,Unfurnished,2,3.0,1030.0,0,NaN,None,0.0,824.0,Sq-ft,0.000000
3,Ready to Move,19200000,1.92 Cr,No/Rare Powercut,11608.0,Semi-Furnished,2,3.0,1654.0,0,1.0,East,35.0,1323.2,Sq-ft,0.000000
4,Ready to Move,5062200,50.6 Lac,No/Rare Powercut,3900.0,Unfurnished,2,3.0,1298.0,1 Covered,NaN,None,0.0,840.0,Sq-ft,0.352851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22935,Oct '28,6043800,60.4 Lac,No/Rare Powercut,4200.0,Unfurnished,2,3.0,1439.0,1 Covered,NaN,None,0.0,1151.2,Sq-ft,0.000000
22936,Feb '26,4115000,41.2 Lac,No/Rare Powercut,5465.0,Unfurnished,2,2.0,753.0,"1 Covered, 1 Open",NaN,None,0.0,602.4,Sq-ft,0.000000
22937,Dec '27,8600000,86 Lac,No/Rare Powercut,7985.0,Unfurnished,3,3.0,1077.0,1 Covered,NaN,None,0.0,861.6,Sq-ft,0.000000
22938,Dec '28,5230350,52.3 Lac,No/Rare Powercut,7865.0,Unfurnished,2,2.0,665.0,1 Covered,NaN,None,0.0,591.0,Sq-ft,0.111278
22939,Dec '24,3280000,32.8 Lac,No/Rare Powercut,4537.0,Unfurnished,2,2.0,723.0,0,NaN,None,0.0,578.4,Sq-ft,0.000000

Connecting to table Hyderabad

In [13]:
Hyderabad = pd.read_sql_table("Hyderabad", con=engine)
Hyderabad

,possStatusD,price,priceD,powerStatusD,sqFtPrice,furnishedD,bathD,parkingD,bedroomD,coveredArea,carpetArea,carpAreaUnit,floors,balconiesD,facingD,bachelor,areaPercent
0,Jun '26,25306638,2.53 Cr,No/Rare Powercut,11153.0,Unfurnished,3,1 Covered,3.0,2269.0,1815.2,Sq-ft,0.0,None,None,None,0.0
1,Jun '28,9880000,98.8 Lac,No/Rare Powercut,6500.0,Unfurnished,3,1 Covered,3.0,1520.0,1216.0,Sq-ft,0.0,None,None,None,0.0
2,Ready to Move,7001500,70 Lac,No/Rare Powercut,5500.0,Semi-Furnished,3,0,2.0,1273.0,1018.4,Sq-ft,0.0,None,None,None,0.0
3,May '26,9506000,95.1 Lac,No/Rare Powercut,6300.0,Unfurnished,2,0,2.0,1509.0,1207.2,Sq-ft,0.0,None,None,None,0.0
4,Ready to Move,8326612,83.3 Lac,No/Rare Powercut,5999.0,Semi-Furnished,2,1 Covered,2.0,1388.0,1110.4,Sq-ft,0.0,None,None,None,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19972,Oct '25,31123600,3.11 Cr,No/Rare Powercut,9950.0,Unfurnished,3,2 Covered,3.0,3128.0,2502.4,Sq-ft,0.0,None,None,None,0.0
19973,Under Construction,4723950,47.2 Lac,No/Rare Powercut,4499.0,Unfurnished,2,0,2.0,1050.0,840.0,Sq-ft,0.0,None,None,None,0.0
19974,Mar '26,9316800,93.2 Lac,No/Rare Powercut,7200.0,Unfurnished,2,0,3.0,1294.0,1035.2,Sq-ft,0.0,None,None,None,0.0
19975,Jun '28,9398120,94 Lac,No/Rare Powercut,4999.0,Unfurnished,3,0,3.0,1880.0,1504.0,Sq-ft,0.0,None,None,None,0.0
19976,Nov '27,12970120,1.29 Cr,No/Rare Powercut,6899.0,Unfurnished,3,0,3.0,1880.0,1504.0,Sq-ft,0.0,None,None,None,0.0

Connecting to table Pune

In [14]:
Pune = pd.read_sql_table("Pune", con=engine)
Pune

,possStatusD,price,priceD,powerStatusD,carpetArea,sqFtPrice,furnishedD,bathD,parkingD,ctName,bedroomD,coveredArea,carpAreaUnit,balconiesD,facingD,floors,areaPercent
0,Dec '26,9681975,96.8 Lac,No/Rare Powercut,862.0,8637.0,Unfurnished,2,1 Covered,Pune,2.0,1121.0,Sq-ft,NaN,None,0.0,0.231044
1,Jun '25,14400000,1.44 Cr,No/Rare Powercut,1113.0,10286.0,Unfurnished,3,0,Pune,2.0,1400.0,Sq-ft,NaN,None,0.0,0.205000
2,Oct '26,17675000,1.76 Cr,No/Rare Powercut,1087.0,11605.0,Unfurnished,3,1 Covered,Pune,3.0,1523.0,Sq-ft,NaN,None,0.0,0.286277
3,Ready to Move,9918888,99.2 Lac,No/Rare Powercut,636.0,12291.0,Unfurnished,2,1 Covered,Pune,2.0,807.0,Sq-ft,NaN,None,0.0,0.211896
4,Ready to Move,9500000,95 Lac,No/Rare Powercut,860.0,9039.0,Unfurnished,2,1 Covered,Pune,2.0,1051.0,Sq-ft,1.0,East,7.0,0.181732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22653,Sep '25,22422000,2.24 Cr,No/Rare Powercut,951.0,16961.0,Unfurnished,2,0,Pune,2.0,1322.0,Sq-ft,NaN,None,0.0,0.280635
22654,Sep '25,21857000,2.18 Cr,No/Rare Powercut,1472.0,11000.0,Unfurnished,3,0,Pune,3.0,1987.0,Sq-ft,NaN,None,0.0,0.259185
22655,Dec '24,20502989,2.05 Cr,No/Rare Powercut,1079.0,13760.0,Unfurnished,3,0,Pune,3.0,1490.0,Sq-ft,NaN,None,0.0,0.275839
22656,Dec '26,10097000,1 Cr,No/Rare Powercut,903.0,8601.0,Unfurnished,2,1 Covered,Pune,2.0,1174.0,Sq-ft,NaN,None,0.0,0.230835
22657,Jun '25,15000000,1.50 Cr,No/Rare Powercut,1157.0,10638.0,Unfurnished,3,0,Pune,2.0,1410.0,Sq-ft,NaN,None,0.0,0.179433